.note-card
{
    border-radius: 10px;
    background-color: rgb(241, 247, 255);
    height: 11vw;
}

.btnn
{
    font-size: large;
}
.items
{
    justify-content: space-between;
}

.cursor
{
    cursor: pointer;
}